services:
  mongodb:
    image: mongo:latest
    container_name: restaurant-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: restaurant_inventory
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

